/* SCROLLBAR */

.locode-scrollbar {
    --lo-scrollbar-bg-color: none;
    --lo-scrollbar-fg-color: color-mix(in srgb, var(--p-surface-800) 60%, transparent);
    --lo-scrollbar-fg-color-hover: color-mix(in srgb, var(--p-surface-800) 80%, transparent);
}

.locode-scrollbar::-webkit-scrollbar { width: 8px; height: 8px; }
.locode-scrollbar::-webkit-scrollbar-track { border: 1px solid var(--lo-scrollbar-bg-color); }
.locode-scrollbar::-webkit-scrollbar-thumb { background: var(--lo-scrollbar-bg-color); }

.locode-scrollbar::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: var(--lo-scrollbar-bg-color);
}
.locode-scrollbar::-webkit-scrollbar-track:hover {
    background-color: var(--lo-scrollbar-bg-color);
}
.locode-scrollbar::-webkit-scrollbar-track:active {
    background-color: var(--lo-scrollbar-bg-color);
}

.locode-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--lo-scrollbar-fg-color);
    border: 2px solid var(--lo-scrollbar-bg-color);
}
.locode-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--lo-scrollbar-fg-color-hover);
}
.locode-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: var(--lo-scrollbar-fg-color-hover);
}
