@import "./scroll.css";


:root{
    --locode-menu-bg:           color-mix(in srgb, var(--p-surface-800) 100%, transparent);
    --locode-menu-btn-fg:       color-mix(in srgb, var(--p-text-color) 50%, transparent);
    --locode-menu-btn-bg:       color-mix(in srgb, var(--p-surface-900) 30%, transparent);
    --locode-menu-btn-hover-fg: var(--p-text-color);
    --locode-menu-btn-hover-bg: color-mix(in srgb, var(--p-surface-900) 50%, transparent);
}



/* custom widget menu */
.locode-widget-menu {
    padding: 8px;
    border-radius: 16px;
    background: var(--locode-menu-bg);
    pointer-events: auto;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
}


.locode-widget-menu BUTTON {
    background: transparent;
    border: none;
    color: var(--locode-menu-btn-fg);
    cursor: pointer;
    font-size: 10px;
    padding: 3px 8px;
    transition: 0.25s all;
}


.locode-widget-menu BUTTON:HOVER{
    color: var(--locode-menu-btn-hover-fg);
}

.lo-texts-widget .tabs .tab .tab-menu button:disabled,
.lo-texts-widget .tabs .tab .tab-menu button[disabled]{
    color: var(--locode-menu-btn-fg);
    cursor: default;
    opacity: 0.5;
}

