.lo-texts-widget {
    display: flex;
    flex-direction: column;
    gap: 8px;
    user-select: none;
    pointer-events: none;
    position: relative;

    /* переменные для закладок */
    --tab-bg:              color-mix(in srgb, var(--p-surface-900) 25%, transparent);
    --tab-fg:              color-mix(in srgb, var(--p-text-color) 50%, transparent);
    --tab-active-bg:       color-mix(in srgb, var(--p-surface-900) 50%, transparent);
    --tab-active-fg:       var(--p-text-color);
    --tab-disabled-bg:     color-mix(in srgb, var(--p-text-color) 5%, transparent);
    --tab-disabled-fg:     color-mix(in srgb, var(--p-text-color) 15%, transparent);
    --tab-hover-bg:        color-mix(in srgb, var(--p-surface-900) 100%, transparent);
    --tab-hover-fg:        var(--p-text-color);
    --gragged-color:        color-mix(in srgb, var(--p-text-color) 50%, transparent);
}


/* tabs */
.lo-texts-widget .tabs{
    display: flex; gap: 1px;
    flex-wrap: wrap;
}


.lo-texts-widget .tabs .tab{
    position: relative;
    white-space: nowrap;
    padding: 3px 6px;
    border-radius: 8px;
    color: var(--tab-fg);
    background-color: var(--tab-bg);
    font-size: 0.65rem;
    pointer-events: auto;
    cursor: pointer;
    transition: all 0.3s;
}

.lo-texts-widget .tabs .tab .name{
    display: inline-block;
    max-width: 28px;
    overflow: clip;
    text-overflow: clip;
}

.lo-texts-widget .tabs .tab.active {
    padding: 3px 10px;
    color: var(--tab-active-fg);
    background-color: var(--tab-active-bg);
}

.lo-texts-widget .tabs .tab:HOVER {
    background-color: var(--tab-hover-bg);
    color: var(--tab-hover-fg);
}

.lo-texts-widget .tabs .tab.disabled{
    color: var(--tab-disabled-fg);
    background-color: var(--tab-disabled-bg);
    outline-offset: -1px;
}

/* tab-menu */
.lo-texts-widget .tabs .tab .locode-widget-menu{
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 200;
    left: 50%; top: -3px;
    transform: translate(-50%, -100%);
}

/* это типа хитбокса */
.lo-texts-widget .tabs .tab .locode-widget-menu:after{
    content: ""; position: absolute; z-index: -1;
    display: block; width: 100%; height: 40px;
    bottom: -5px; left: 0;
    /* border: 1px solid red; */
}

.lo-texts-widget .tabs .tab:HOVER .locode-widget-menu{
    display: flex;
}


/* drag mode */

.lo-texts-widget .tabs .tab.dragged{
    outline: 1px solid var(--gragged-color);
}

.lo-texts-widget .tabs .tab.was-dragged{
    outline: 1px solid var(--gragged-color);
    scale: 50%, 100%;
}

.lo-texts-widget .tabs.drag-mode .tab .tab-menu{
    display: none;
}

.lo-texts-widget .tabs.drag-mode .tab {
    pointer-events: none;
}

.lo-texts-widget .tabs .drag-target{
    display: block; position: relative;
    width: 0;
}

.lo-texts-widget .tabs .drag-target:HOVER:after{
    content: ""; display: block; position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
    width: 2px; height: 100%; border-radius: 4px;
    background-color: var(--gragged-color);
}


.lo-texts-widget .tabs.drag-mode .drag-target .hitbox {
    display: block; position: absolute;
    width: 12px; height: 100%; top: 0; left: 50%; transform: translateX(-50%);
    pointer-events: all;
    z-index: 100;
}


/* content */
.lo-texts-widget .content{
    flex: 1 1 auto;            /* растягиваем контент, чтобы соблюдать min-height контейнера */
    display: flex;
    pointer-events: auto;
}

/* текстовое поле занимает доступную высоту */
.lo-texts-widget .content .text-input{
    flex: 1 1 auto;
    min-height: 20px;
    box-sizing: border-box;
    resize: none;
    border-radius: 4px;
    padding: 8px;
    pointer-events: auto;
}

