.locode-sidebar-nodes{
    display: flex; flex-direction: column;
    padding: 16px;
    user-select: none;
    gap: 16px;
}

.locode-sidebar-nodes .header{
    font-size: 16px;
    font-weight: 600;
    color: color-mix(in srgb, var(--p-text-color) 75%, transparent);
}


.locode-sidebar-nodes .info{
    font-size: 12px;
    text-align: right;
    color: color-mix(in srgb, var(--p-text-color) 33%, transparent);
}

.locode-sidebar-nodes .label{
    font-size: 13px;
    /* color: var(--p-button-text-secondary-color); */
    color: color-mix(in srgb, var(--p-text-color) 50%, transparent);
    padding-bottom: 4px;
}


.locode-sidebar-nodes INPUT {
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    background: color-mix(in srgb, var(--p-surface-800) 100%, transparent);
    color:      color-mix(in srgb, var(--p-text-color) 75%, transparent);
    outline:    0px solid var(--p-surface-800);
    width: 100%;
    border: none;

    /* placeholder */
    &::placeholder{
        color: color-mix(in srgb, var(--p-text-color) 33%, transparent);
        font-size: 12px;
    }

    /* focus */
    &:focus {
        background: color-mix(in srgb, var(--p-surface-800) 100%, transparent);
        color:      var(--p-text-color);
        outline:    2px solid var(--p-surface-600);
    }

}




/* color-selector */

.locode-sidebar-nodes .color-selector{
    margin-top: 8px;
}

.locode-sidebar-nodes .color-selector ul{
    display: flex; flex-direction: row; gap: 3px; flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0; padding: 0; list-style: none;
}

.locode-sidebar-nodes .color-selector ul > LI{
    display: block;
    width: 15px; height: 15px;
    border-radius: 50%;
    margin: 0; padding: 0; list-style: none;
    cursor: pointer;
    border: 1px solid var(--p-surface-700);

    &.selected{
        outline: 1px solid var(--p-button-text-secondary-color);
    }

    &:hover{
        outline: 2px solid var(--p-surface-600);
    }

}


/* shapes */

.locode-sidebar-nodes .shapes{
    display: flex; flex-direction: row; gap: 4px;
    justify-content: center;
}


.locode-sidebar-nodes .shapes BUTTON{
    &{
        position: relative;
        width: 36px; height: 36px;
        border-radius: 50%;
        background: color-mix(in srgb, var(--p-surface-800) 50%, transparent);
        border: none;
        cursor: pointer;
    }

    &:hover{
        background: color-mix(in srgb, var(--p-surface-800) 100%, transparent);
    }

    &.selected{
        background: color-mix(in srgb, var(--p-surface-800) 100%, transparent);
    }

    &.selected:hover{
        background: color-mix(in srgb, var(--p-surface-800) 100%, transparent);
    }

    &.selected:after{
        border-color: var(--p-button-text-secondary-color);
    }

    &:after{
        content: ""; display: block; position: absolute;
        top: 50%; left: 50%; transform: translate(-50%, -50%);
        width: 16px; height: 16px;
        border-color: color-mix(in srgb, var(--p-button-text-secondary-color) 33%, transparent);
        border-width: 2px;
        border-style: solid;
    }

    &[value="0"]:after{ border-radius: 33%; }
    &[value="1"]:after{ border-radius: 0px; }
    &[value="4"]:after{ border-radius: 33% 33% 0 0; }

}


/* options */

.locode-sidebar-nodes .options{
    margin: 16px 0;
    display: flex; flex-direction: row; gap: 8px; flex-wrap: wrap;
    justify-content: center;
}


.locode-sidebar-nodes .options BUTTON{
    padding: 0 16px;
    height: 28px;
    display: flex; align-items: center; justify-content: center;
    border-radius: 16px;
    background: color-mix(in srgb, var(--p-surface-800) 50%, transparent);
    color: color-mix(in srgb, var(--p-button-text-secondary-color) 33%, transparent);
    border: none;
	cursor: pointer;

    &[value="true"]{
        background: color-mix(in srgb, var(--p-surface-800) 100%, transparent);
        color: var(--p-button-text-secondary-color);
    }
    &[value="false"]{
        background: color-mix(in srgb, var(--p-surface-900) 100%, transparent);
        color: color-mix(in srgb, var(--p-button-text-secondary-color) 33%, transparent);
    }
    

}


/* nodes_offset */

.locode-sidebar-nodes .nodes_offset{
    display: grid; grid-template-columns: auto 1fr 1fr; gap: 4px;
    justify-content: center;
    align-items: center;
}



/* modes */

.locode-sidebar-nodes .modes{
    display: flex; flex-direction: row; gap: 2px;
    justify-content: center;
}


.locode-sidebar-nodes .modes BUTTON{

    &{
        width: 36px; height: 36px;
        display: flex; align-items: center; justify-content: center;
        background: color-mix(in srgb, var(--p-surface-800) 50%, transparent);
        color: color-mix(in srgb, var(--p-button-text-secondary-color) 33%, transparent);
        border: none;
        font-weight: 900;
        font-size: 16px;
        cursor: pointer;
    }

    &:first-child{ border-radius: 8px 0 0 8px; }
    &:last-child{ border-radius: 0 8px 8px 0; }

    &:hover{
        background: color-mix(in srgb, var(--p-surface-800) 100%, transparent);
    }

    &.selected{
        background: color-mix(in srgb, var(--p-surface-800) 100%, transparent);
        color: var(--p-button-text-secondary-color);
    }

}
