.locode-sidebar{
    display: flex; flex-direction: column;
    gap: 8px;
    height: 100%;
    overflow: auto;
    padding: 4px;
}

.-section{
    padding: 16px;
    user-select: none;
    background-color: var(--p-content-background);
    transition: all 0.2s;
    border-radius: 8px;
    outline: 1px solid var(--p-surface-800);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.25);

    & .--topbar{
        padding-bottom: 2px;
        cursor: pointer;
    }

    & .--content{
        display: flex; flex-direction: column;
        gap: 16px;
        margin-top: 16px;
        max-height: 100%;
        transition: all 0.2s;
    }

    &.collapsed{
        padding: 8px 16px 4px 16px;
    }

    &.collapsed .--content{
        overflow: clip;
        gap: 0;
        max-height: 0;
        margin-top: 0;
    }

}


.locode-sidebar .header{
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 2px;
    color: color-mix(in srgb, var(--p-text-color) 75%, transparent);
}


.locode-sidebar .info{
    font-size: 12px;
    text-align: right;
    display: flex; gap: 2px 6px; flex-wrap: wrap; justify-content: flex-end;
    color: color-mix(in srgb, var(--p-text-color) 33%, transparent);
}


.locode-sidebar .label{
    font-size: 13px;
    /* color: var(--p-button-text-secondary-color); */
    color: color-mix(in srgb, var(--p-text-color) 50%, transparent);
    padding-bottom: 4px;
}


.locode-sidebar INPUT {
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    background: color-mix(in srgb, var(--p-surface-800) 100%, transparent);
    color:      color-mix(in srgb, var(--p-text-color) 75%, transparent);
    outline:    0px solid var(--p-surface-800);
    width: 100%;
    border: none;

    /* placeholder */
    &::placeholder{
        color: color-mix(in srgb, var(--p-text-color) 33%, transparent);
        font-size: 12px;
    }

    /* focus */
    &:focus {
        background: color-mix(in srgb, var(--p-surface-800) 100%, transparent);
        color:      var(--p-text-color);
        outline:    2px solid var(--p-surface-600);
    }

}


/* COMPONENTS */

/* color-block */

.locode-sidebar .color-block .color-selector{
    margin-top: 8px;
}

.locode-sidebar .color-block .color-selector ul{
    display: flex; flex-direction: row; gap: 3px; flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0; padding: 0; list-style: none;
}

.locode-sidebar .color-block .color-selector ul > li{
    display: block;
    width: 15px; height: 15px;
    border-radius: 50%;
    margin: 0; padding: 0; list-style: none;
    cursor: pointer;
    border: 1px solid var(--p-surface-700);

    &.selected{
        outline: 1px solid var(--p-button-text-secondary-color);
    }

    &:hover{
        outline: 2px solid var(--p-surface-600);
    }

}


/* shapes */

.locode-sidebar .shapes-block{
    display: flex; flex-direction: row; gap: 4px;
    justify-content: center;
}


.locode-sidebar .shapes-block BUTTON{
    &{
        position: relative;
        width: 36px; height: 36px;
        border-radius: 50%;
        background: color-mix(in srgb, var(--p-surface-800) 50%, transparent);
        border: none;
        cursor: pointer;
    }

    &:hover{
        background: color-mix(in srgb, var(--p-surface-800) 100%, transparent);
    }

    &.selected{
        background: color-mix(in srgb, var(--p-surface-800) 100%, transparent);
    }

    &.selected:hover{
        background: color-mix(in srgb, var(--p-surface-800) 100%, transparent);
    }

    &.selected:after{
        border-color: var(--p-button-text-secondary-color);
    }

    &:after{
        content: ""; display: block; position: absolute;
        top: 50%; left: 50%; transform: translate(-50%, -50%);
        width: 16px; height: 16px;
        border-color: color-mix(in srgb, var(--p-button-text-secondary-color) 33%, transparent);
        border-width: 2px;
        border-style: solid;
    }

    &[value="0"]:after{ border-radius: 33%; }
    &[value="1"]:after{ border-radius: 0px; }
    &[value="4"]:after{ border-radius: 33% 33% 0 0; }

}


/* options */

.locode-sidebar .options-block{
    margin: 16px 0;
    display: flex; flex-direction: row; gap: 8px; flex-wrap: wrap;
    justify-content: center;
}


.locode-sidebar .options-block BUTTON{
    padding: 0 16px;
    height: 28px;
    display: flex; align-items: center; justify-content: center;
    border-radius: 16px;
    background: color-mix(in srgb, var(--p-surface-800) 50%, transparent);
    color: color-mix(in srgb, var(--p-button-text-secondary-color) 33%, transparent);
    border: none;
	cursor: pointer;

    &[value="true"]{
        background: color-mix(in srgb, var(--p-surface-800) 100%, transparent);
        color: var(--p-button-text-secondary-color);
    }
    &[value="false"]{
        background: color-mix(in srgb, var(--p-surface-900) 100%, transparent);
        color: color-mix(in srgb, var(--p-button-text-secondary-color) 33%, transparent);
    }
    

}


/* input-block */
.locode-sidebar .input-block.in-row{
    display: grid; grid-template-columns: auto 1fr; gap: 4px;
    justify-content: center;
    align-items: center;

    & > input{
        width: 100%;
    }

}


/* nodes-offset */

.locode-sidebar .nodes-offset{
    display: grid; grid-template-columns: auto 1fr 1fr; gap: 4px;
    justify-content: center;
    align-items: center;
}



/* modes */

.locode-sidebar .modes-block{
    display: flex; flex-direction: row; gap: 2px;
    justify-content: center;
}


.locode-sidebar .modes-block BUTTON{

    &{
        width: 36px; height: 36px;
        display: flex; align-items: center; justify-content: center;
        background: color-mix(in srgb, var(--p-surface-800) 50%, transparent);
        color: color-mix(in srgb, var(--p-button-text-secondary-color) 33%, transparent);
        border: none;
        font-weight: 900;
        font-size: 16px;
        cursor: pointer;
    }

    &:first-child{ border-radius: 8px 0 0 8px; }
    &:last-child{ border-radius: 0 8px 8px 0; }

    &:hover{
        background: color-mix(in srgb, var(--p-surface-800) 100%, transparent);
    }

    &.selected{
        background: color-mix(in srgb, var(--p-surface-800) 100%, transparent);
        color: var(--p-button-text-secondary-color);
    }

}
