
.text-array-widget {
    display: flex;
    flex-direction: column;
    gap: 8px;
    user-select: none;
    pointer-events: none;

    /* переменные для закладок */
    --tab-bg:              color-mix(in srgb, var(--p-surface-900) 25%, transparent);
    --tab-fg:              color-mix(in srgb, var(--p-text-color) 25%, transparent);
    --tab-active-bg:       color-mix(in srgb, var(--p-surface-900) 50%, transparent);
    --tab-active-fg:       var(--p-text-color);
    --tab-hover-bg:        color-mix(in srgb, var(--p-surface-900) 100%, transparent);
    --tab-hover-fg:        var(--p-text-color);

    --tab-delete-bg:       var(--p-surface-800);
    --tab-delete-fg:       var(--p-text-color);
    --tab-delete-hover-bg: red;
}


/* закладки */
.text-array-widget .tabs{
    display: flex; gap: 2px;
    flex-wrap: wrap;
    pointer-events: auto;
}

.text-array-widget .tabs .tab{
    overflow: visible;
    position: relative;
    white-space: nowrap;
    padding: 3px 6px;
    border-radius: 8px;

    color: var(--tab-fg);
    background-color: var(--tab-bg);

    font-size: 0.65rem;
    transition: all 0.2s;
    pointer-events: auto;
}

.text-array-widget .tabs .tab.active {
    padding: 3px 10px;
    color: var(--tab-active-fg);
    background-color: var(--tab-active-bg);
    cursor: pointer;
}


.text-array-widget .tabs .tab:HOVER {
    cursor: pointer;
    background-color: var(--tab-hover-bg);
    color: var(--tab-hover-fg);
}


.text-array-widget .tabs .tab.active:HOVER {
    padding: 3px 16px 3px 4px;
}

/* кнопка удаления */

.text-array-widget .tabs .tab .tab-delete{
    position: absolute; z-index: 100;
    right: 2px; top: 50%; transform: translateY(-50%);
    display: flex; align-items: center; justify-content: center;
    width: 14px; height: 14px;
    color: var(--tab-delete-fg);
    background-color: var(--tab-delete-bg);
    border-radius: 50%;
    transition: all 0.2s;
    opacity: 0;
    pointer-events: none;
}

.text-array-widget .tabs .tab .tab-delete > svg{
    width: 10px; height: 10px;
    fill: currentColor;
    stroke: none;
}

.text-array-widget .tabs .tab.active:HOVER .tab-delete{
    right: -4px;
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
}

.text-array-widget .tabs .tab.active:HOVER .tab-delete:HOVER{
    background-color: var(--tab-delete-hover-bg);
}


.text-array-widget .content{
    flex: 1 1 auto;            /* растягиваем контент, чтобы соблюдать min-height контейнера */
    display: flex;
    pointer-events: auto;
}

/* .text-array-widget .content textarea{}
.text-array-widget .content textarea:focus {} */

/* текстовое поле занимает доступную высоту */
.text-array-widget .content .text-input{
    flex: 1 1 auto;
    min-height: 20px;
    box-sizing: border-box;
    resize: none;
    border-radius: 4px;
    padding: 8px;
    pointer-events: auto;
}


/* кнопка добавления новой закладки */
.text-array-widget .add-button {
    overflow: visible;
    position: relative;
    white-space: nowrap;
    padding: 3px 6px;
    border-radius: 8px;
    color: var(--tab-fg);
    background-color: var(--tab-bg);
    font-size: 0.65rem;
    border: none;
    cursor: pointer;
    pointer-events: auto;
}

.text-array-widget .add-button:hover{
    background-color: var(--tab-hover-bg);
    color: var(--tab-hover-fg);
}
