/* nodes list */

.locode-nodes-inspector .nodes-list{
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: 14px;

    &:empty{
        display: none;
    }

    --lo-color-error: red;
    --lo-color-deprecated: orange;

}


.locode-nodes-inspector .nodes-list > DIV{
    border-top: 1px solid color-mix(in srgb, var(--p-text-color) 15%, transparent);
    padding: 8px;
}


.locode-nodes-inspector .nodes-list .id{
    font-size: 12px;
    color: color-mix(in srgb, var(--p-text-color) 50%, transparent);
    display: flex; flex-wrap: wrap;
}


.locode-nodes-inspector .nodes-list .id > SPAN{
    display: inline-block;
    white-space: nowrap;

    &::before{
        content: ">"; transform: scale(75%);
        opacity: 0.5;
        display: inline-block;
        padding: 0 1.5px;
    }

    &:first-child::before{
        content: "#";
    }

    &:hover{
        color: color-mix(in srgb, var(--p-text-color) 100%, transparent);
        cursor: pointer;
    }

}


.locode-nodes-inspector .nodes-list .type{
    color: color-mix(in srgb, var(--p-text-color) 75%, transparent);
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px;

    &:hover{
        color: color-mix(in srgb, var(--p-text-color) 100%, transparent);
        cursor: pointer;
    }

    &.deprecated{
        text-decoration: line-through;
        color: var(--lo-color-deprecated);
    }

    &.error{
        color: var(--lo-color-error);
    }

}

