
.lo-docs-content{
    position: relative;
    width: 100%;
    height: 100%;

    --page-menu-shift: 12px;
}


/*  text element */

.lo-docs-content > .text{
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    font-size: var(--comfy-textarea-font-size);
    overflow-y: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: break-spaces;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;
}

.lo-docs-content > textarea{
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    resize: none;
    display: none;
}

.lo-docs-content.edit{

    & > .text{
        display: none;
    }
    & > textarea{
        display: block;
    }

} 


/*  pages menu */

.lo-docs-content .pages-menu{
    position: absolute; top: 0; left: calc( var(--page-menu-shift)*-1 );
    transform: translateX(-100%);
    background: var(--p-surface-900);
    z-index: 1;
    padding: 4px;
    border-radius: 8px;
    outline: 1px solid color-mix(in srgb, var(--p-surface-800) 75%, transparent);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.5);
    display: none;

    &:before{
        content: '';
        position: absolute;
        top: 0; right: calc( var(--page-menu-shift)*-1 );
        width: var(--page-menu-shift);
        height: 120%;
    }
}


.lo-docs-content:HOVER .pages-menu{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.lo-docs-content .pages-menu .page-item{
    font-size:  11px;
    padding:    4px 0 4px 8px;
    cursor:     pointer;
    color:      color-mix(in srgb, var(--p-text-color) 75%, transparent);
    display:         flex;
    align-items:     center;
    justify-content: space-between;
    gap:             4px;
    border-bottom: 1px solid color-mix(in srgb, var(--p-surface-800) 50%, transparent);

    &.active{
        color: var(--p-text-color);
        font-weight: bold;
    }

    &:hover{
        color: var(--p-text-color);
    }

}

.lo-docs-content .pages-menu button.add{
    font-size: 11px;
    padding: 2px 0;
    cursor: pointer;
    color:  color-mix(in srgb, var(--p-text-color) 50%, transparent);
    background: none;
    border: none;

    &:hover{
        background: color-mix(in srgb, var(--p-surface-800) 50%, transparent);
    }
}


/* actions */
.lo-docs-content .pages-menu .page-item .actions{
    opacity: 0;
    display: flex;

    & .actions-menu{
        display: none;
    }
}

.lo-docs-content .pages-menu .page-item:HOVER .actions{
    opacity: 1;
}

.lo-docs-content .pages-menu .page-item .actions:HOVER{
    position: relative;

    & .actions-hover{
        visibility: hidden;
    }

    & .actions-menu{
        top: -4px; left: 0;
        padding: 4px; border-radius: 8px;
        background: var(--p-surface-900);
        position: absolute;
        display: flex;
        box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.5);
        outline: 1px solid color-mix(in srgb, var(--p-surface-800) 75%, transparent);
    }
}


.lo-docs-content .pages-menu .page-item .actions i{
    width: 20px; height: 20px; font-size: 9px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: color-mix(in srgb, var(--p-text-color) 50%, transparent);

    &:hover{
        background: color-mix(in srgb, var(--p-surface-800) 50%, transparent);
        color: color-mix(in srgb, var(--p-text-color) 100%, transparent);
    }
}

